<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>問導遊 - 尋找私人導遊的專屬平台</title>
  <!-- FAVIOCN -->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

  <!-- 引用css、Bootstrap、 jQuery 與 popper -->
  <link rel="stylesheet" href="/stylesheets/base.css" />
  <link rel="stylesheet" href="/stylesheets/common.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/guide_list.css" />
</head>

<body>
  <!-- header start -->
  <header class="navbar">
    <!-- logo -->
    <div class="logo">
      <img src="/images/logo-w.png" alt="" />
      <span>- when do you trip?</span>
    </div>
    <!-- 搜尋欄 -->
    <div class="search">
      <input type="search" value="輸入城市、景點、體驗行程或活動名稱..." />
      <button>搜尋</button>
    </div>
    <!-- 登入/註冊 -->
    <div class="login">
      <a href="#">
        <span>登入/註冊</span>
      </a>
    </div>
    <!-- 快捷導航 -->
    <ul class="shortcut">
      <li>
        <a href="#">選擇你的專屬行程</a>
      </li>
      <li>
        <a href="#">尋找你的專屬導遊</a>
      </li>
      <li>
        <a href="#">購物車</a>
      </li>
    </ul>
  </header>
  <!-- header end -->
  <!-- banner start -->
  <div class="banner">
    <img src="/images/header-travel.jpg" alt="" />
  </div>
  <!-- banner end -->
  <!-- 熱門導遊 start -->
  <div class="container">
    <div class="title">
      <h2>熱門導遊帶您暢享完美假期</h2>
    </div>
    <div class="guide clearfix">
      <ul>
        <li>
          <img src="/images/add_guide2.jpg" alt="" />
          <h4>Christina Wu</h4>
          <p><span>
              <%=tripName%>
            </span> 每人NT
            <%=tripPrice%>
          </p>
        </li>
        <li>
          <img src="/images/add_guide1.jpg" alt="" />
          <h4>Pascal Aussignac</h4>
          <p><span>美國</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide3.jpg" alt="" />
          <h4>Soo Ahn</h4>
          <p><span>新加坡</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide4.jpg" alt="" />
          <h4>July Lee</h4>
          <p><span>南韓</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide2.jpg" alt="" />
          <h4>Christina Wu</h4>
          <p><span>台灣</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide1.jpg" alt="" />
          <h4>Pascal Aussignac</h4>
          <p><span>美國</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide3.jpg" alt="" />
          <h4>Soo Ahn</h4>
          <p><span>新加坡</span> 每人NT2,000</p>
        </li>
        <li>
          <img src="/images/add_guide4.jpg" alt="" />
          <h4>July Lee</h4>
          <p><span>南韓</span> 每人NT2,000</p>
        </li>
      </ul>
    </div>
  </div>
  <!-- 熱門導遊 end -->
  <!-- 分頁 -->
  <div class="pagination-nick">分業</div>
  <div class="page">
    <span class="page_num">
      <a href="#" class="pn_pre">上一頁&lt;&lt;</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#" class="dotted">... </a>
      <a href="#" class="pn_next">下一頁 &gt;&gt;</a>
    </span>
    <span class="page_skip">
      共10頁 到第
      <input type="text" />頁
      <button>確定</button>
    </span>
  </div>
  <!-- 分頁 -->
  <!-- footer start -->
  <div class="footer">
    <div class="links">
      <dl>
        <dt>認識問導遊</dt>
        <dd><a href="#">關於我們</a></dd>
        <dd><a href="#">管理團隊</a></dd>
        <dd><a href="#">人才招募</a></dd>
        <dd><a href="#">客戶服務</a></dd>
        <dd><a href="#">幫助</a></dd>
      </dl>
      <dl>
        <dt>給旅人</dt>
        <dd><a href="#">三大保證</a></dd>
        <dd><a href="#">官方部落格</a></dd>
        <dd><a href="#">會員好禮</a></dd>
      </dl>
      <dl>
        <dt>合作夥伴</dt>
        <dd><a href="#">合作夥伴</a></dd>
        <dd><a href="#">成為導遊</a></dd>
        <dd><a href="#">同業合作</a></dd>
        <dd><a href="#">聯盟行銷</a></dd>
        <dd><a href="#">旅遊客製規劃</a></dd>
      </dl>
    </div>
  </div>
  <script src="/javascripts/jquery.min.js"></script> 
<script>
$(function () {
<<<<<<< HEAD
  $.get("/trip/memberList", function (e) {
=======
  // 行程列表_開始
  $.get("/trip/123", function (e) {
>>>>>>> yoyochi
        newsList = JSON.parse(e);
        guideList();
    })
    function guideList(){
      $(".guide").empty();
      $.each(newsList, function (key, obj) {
            var $li = $("<li></li>")
<<<<<<< HEAD
            $li.append('<img src="/images/'+obj.tripPic1+'" alt="" /><h4>'+obj.tripName+'</h4><p><span>'+obj.tirpCity+'</span> 每人NT'+obj.tripPrice+'</p');
=======
                        // .text(newsText)
                        // .addClass("list-group-item");
            $li.append('<img src="/images/trip/'+obj.tripPic1+'" alt="" /><h4>'+obj.tripName+'</h4><p><span>'+obj.tirpCity+'</span> 每人NT'+obj.tripPrice+'</p');
            $li.appendTo(".guide");
        })
    }
    // 行程列表_結束
    $.get("/guide/123", function (e) {
        newsList = JSON.parse(e);
        guideList();
    })
    function guideList(){
      $(".guide").empty();
      $.each(newsList, function (key, obj) {
            // var newsText = obj.title + " [" + obj.ymd + "]";
            var $li = $("<li></li>")
                        // .text(newsText)
                        // .addClass("list-group-item");
            $li.append('<img src="/images/guide/'+obj.memberPic+'" alt="" /><h4>'+obj.memberName+'</h4><p><span>'+obj.guideInfo.+'</span> </p');
>>>>>>> yoyochi
            $li.appendTo(".guide");
        })
    }

   
}) 




  </script>
</body>

</html>