<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問導遊 - 尋找私人導遊的專屬平台</title>

    <!-- FAVIOCN -->
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">

    <!-- 引用css、Bootstrap、 jQuery 與 popper -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/trip.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>

    <!-- navbar 導覽列 start-->
    <nav class="navbar navbar-expand-lg navbar-light navbar-right fixed-top">
        <a class="navbar-brand ml-5" href="index.html">
            <img src="image/logo-w.png" class="mx-2" alt="" title="問導遊 - 回首頁">問導遊
            <footer class="blockquote-footer">when do you trip?</footer>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse mr-5">
            <!-- 讓選單靠右 -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-4">
                    <a class="nav-link" href="news.html">
            選擇你的
            <br>
            專屬行程
          </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="">
            尋找你的
            <br>
            專屬導覽
          </a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="">
            購物車
            <img src="image/supermarket.png" alt="">
          </a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link" href="">註冊</a>
                </li>
                <li class="nav-item">
                    <p class="slash"> / </p>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="">登入</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- ## navbar 導覽列 -->


    <!-- 內文區 -->

    <!-- video 影片區 -->
    <div class="mt-5">
        <img src="image/header-travel.jpg" class="headerImg w-100" alt="">
    </div>
    <!-- ## video 影片區 -->

    <!-- search 搜尋區  -->
    <!-- green background -->
    <div class="bgGreen">
        <!-- search -->
        <!-- 套用共同樣式 base.css w-->
        <div class="w">
            <!-- 大標 -->
            <h2 class="titleHeader text-center py-5">
                選擇旅遊夥伴來一趟美好的難忘之旅吧!
            </h2>
            <!-- form 表單 -->
            <form action="">
                <div class="form-row">

                    <!-- Q1.尋找類型 State -->
                    <div class="form-group col-md-3">
                        <label for="inputState"></label>
                        <select id="inputState" class="form-control">
              <option selected>想找什麼呢?</option>
              <option>找導遊</option>
              <option>找行程</option>
            </select>
                    </div>
                    <!-- ## Q1.尋找類型 State -->

                    <!-- Q2.尋找區域 Area -->
                    <div class="form-group col-md-3">
                        <label for="inputArea"></label>
                        <select id="inputArea" class="form-control">
              <option selected>想去的地方?</option>
              <option>北部</option>
              <option>中部</option>
              <option>南部</option>
              <option>花東</option>
              <option>外離島</option>
            </select>
                    </div>
                    <!-- ## Q2.尋找區域 Area -->

                    <!-- Q3.搜尋關鍵字 -->
                    <div class="form-group col-md-4 mb-3">
                        <label for="inputKeyword"></label>
                        <input type="text" class="form-control" id="inputKeyword" placeholder="請輸入關鍵字">
                    </div>
                    <!-- ## Q3.搜尋關鍵字 -->

                    <!-- button submit -->
                    <div class="form-group col-md-2 mb-3 mt-4">
                        <label for="inputSearch"></label>
                        <button type="submit" class="btn btn-warning" id="inputSearch">
              搜尋
              <img src="image/magnifying-glass.png" alt="">
            </button>
                    </div>
                    <!-- ## button submit -->

                </div>

            </form>
            <!-- ## form 表單 -->

            <!-- 豎線 -->
            <a href="#bgGray" class="line"></a>

        </div>
        <!-- ## 套用共同樣式 base.css w-->

    </div>
    <!-- ## green background -->
    <!-- ## search 搜尋區  -->


    <!-- 近期新增的活動 -->
    <!-- green - background -->

    <div id="bgGray">
        <!-- 套用共同樣式 base.css w-->
        <div class="w">

            <div class="titleGreen my-5">

                <!-- 黃色圖示 三角形 -->
                <div class="titleTriangle mb-3">
                </div>

                <!-- 新增活動 -->
                <!-- 大標 -->
                <div class="pl-4">
                    <h4 class="addActive">
                        近期新增的活動 &nbsp;&nbsp; ——
                    </h4>
                    <!-- 新增 - 行程標題 -->
                    <h5 class="addtrip mt-5 mb-4">
                        觀光行程 :
                    </h5>
                    <!-- 新增 - 行程 card -->
                    <div class="addSmallTrip my-3">

                        <div class="row row-cols-1 row-cols-md-3">

                            <!-- card_1 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/unnamed.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_1 -->

                            <!-- card_2 -->
                            <div class="col-md-6 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new1.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/Peng-hu.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_2 -->

                            <!-- card_3 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/老梅綠石槽景觀.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                    <div class="card-footer ">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_3 -->

                            <!-- three button -->
                            <div class="threeBtn">
                                <a class="btn_1 pr-3" href=""></a>
                                <a class="btn_2 pl-3" href=""></a>
                                <a class="btn_3 pr-3" href=""></a>
                            </div>

                        </div>
                    </div>
                    <!-- ## 新增 - 行程 card -->

                    <br>
                    <br>
                    <br>

                    <!-- 新增 - 導遊標題 -->
                    <h5 class="addtrip mt-5 mb-4">
                        導遊 :
                    </h5>
                    <!-- 新增 - 導遊 card -->
                    <div class="addSmallTrip my-3">
                        <div class="row row-cols-1 row-cols-md-4">

                            <!-- card_1 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/add_guide1.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_1 -->

                            <!-- card_2 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new1.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/add_guide2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a short card.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_2 -->

                            <!-- card_3 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/add_guide3.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_3 -->

                            <!-- card_4 -->
                            <div class="col-md-3 mb-4 pic">
                                <!-- New -->
                                <div class="New">
                                    <img class="img-fluid" src="image/new1.png" alt="">
                                </div>
                                <div class="card h-100">
                                    <img src="image/add_guide4.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                </div>
                            </div>
                            <!-- ## card_4 -->

                            <!-- three button -->
                            <div class="threeBtn">
                                <a class="btn_1 pr-3" href=""></a>
                                <a class="btn_2 pl-3" href=""></a>
                                <a class="btn_3 pr-3" href=""></a>
                            </div>

                        </div>
                    </div>
                    <!-- ## 新增 - 導遊 card -->



                </div>
                <!-- ## 大標 -->
                <!-- ## 新增活動 -->

            </div>


        </div>
        <!-- ## 套用共同樣式 base.css w-->

    </div>
    <!-- ## green - background -->
    <!-- ## 近期新增的活動 -->


    <!-- 熱門導遊 -->

    <!-- ## 熱門導遊 -->
    <div class="w mt-5 " id="popular">

        <div class="my-5">
            <!-- border - whiteLine -->
            <div class="whiteLine"></div>
            <!-- ## whiteLine -->

            <!-- 黃色圖示 三角形 -->
            <div class="titleTriangle mb-3"></div>
            <!-- ## 黃色圖示 三角形 -->

            <!-- 大標 -->
            <div class="pl-4">
                <h4 class="popularGuide">
                    熱門導遊 &nbsp;&nbsp; ——
                </h4>

                <!-- 熱門導遊 - 圖片區 -->
                <div class="container">
                    <div class="row mt-5" style="margin: auto;">
                        <div class="col-md-4 col-3">
                            <img src="image/popular_guide1.jpg" class="rounded" alt="..." style="width: 300px; height:300px ; object-fit: cover;">
                        </div>

                        <div class="col-md-4 col-3">
                            <img src="image/popular_guide2.jpg" class="rounded" alt="..." style="width: 300px; height:300px; object-fit: cover;">
                        </div>

                        <div class="col-md-4 col-3">
                            <img src="image/popular_guide3.jpg" class="rounded" alt="..." style="width: 300px; height:300px;object-fit: cover;">
                        </div>
                    </div>
                </div>
                <!-- ## 熱門導遊 - 圖片區 -->
            </div>
            <!-- ## 大標 -->






        </div>

        <!-- footer 頁尾區  -->
    </div>





    <div class="container-fluid" id="footer">
        <div class="container py-5 footer_1">

            <div class="d-inline-flex flex-column pr-5">
                <a class="mb-4 afot_connect" href="">最新消息</a>
                <a class="afot_connect" href="">關於我們</a>
            </div>

            <!-- 區隔線段 左 -->
            <div class="d-inline-flex flex-column pr-5">
                <div class="interval text-white "></div>
            </div>

            <div class="d-inline-flex flex-column pr-5">
                <a class="mb-4 afot_connect" href="">導遊評價</a>
                <a class="afot_connect" href="">旅遊心得</a>
            </div>

            <!-- 區隔線段 右 -->
            <div class="d-inline-flex flex-column pr-5">
                <div class="interval text-white"></div>
            </div>

            <div class="d-inline-flex flex-column">
                <a class="mb-4 afot_connect" href="">常見問答</a>
                <a class="afot_connect" href="">活動頁面</a>
            </div>

        </div>
    </div>

    <!-- 直立(豎立)的 navbar -->
    <!-- <nav class="navbar text-white">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>
  </nav> -->

</body>

</html>