<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>問導遊 - 尋找私人導遊的專屬平台</title>

  <!-- FAVIOCN -->
  <link rel="icon" href="image/favicon.ico" type="image/x-icon">

  <!-- 引用css、Bootstrap、 jQuery 與 popper -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/trip.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/trip.js"></script>
</head>

<body>

  <!-- navbar 導覽列 -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light navbar-right fixed-top">
    <a class="navbar-brand ml-5" href="index.html">
      <img src="image/logo-w.png" class="mx-2" alt="" title="問導遊 - 回首頁">問導遊
        <footer class="blockquote-footer">
          when do you trip?
        </footer>
    </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
              <div class="collapse navbar-collapse mr-5" id="navbarNavDropdown"> -->
                <!-- 讓選單靠右 -->
                <!-- <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link mx-2" href="news.html">
                      選擇你的
                      <br>
                      專屬行程
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="">
                      尋找你的
                      <br>
                      專屬導覽
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="">
                      購物車
                      <img src="image/supermarket.png" alt="">
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="">註冊</a>
                  </li>
                  <li class="nav-item">
                    <p class="slash">/</p>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="">登入</a>
                  </li>
                </ul>
              </div>
  </nav> -->
  <!-- ## navbar 導覽列 -->

 <!-- header start -->
 <header>
  <!-- logo -->
  <div class="logo">
      <img src="image/logo-w.png" alt="">
      <span>- when do you trip?</span>
  </div>

  <!-- 登入/註冊 -->
  <div class="login">
      <a href="#">
          <span>登入/註冊</span>
      </a>
  </div>
  <!-- 快捷導航 -->
  <ul class="shortcut">
      <li>
          <a href="#">選擇你的專屬行程</a>
      </li>
      <li>
          <a href="#">尋找你的專屬導遊</a>
      </li>
      <li>
          <a href="#">購物車</a>
      </li>
  </ul>
</header>
<!-- header end -->


  <!-- 內文區 -->

  <!-- GoTop -->
  <a href="">
    <div id="gotop">
      <img src="image/gotop.png" alt="">
    </div>
  </a>

  <!-- video 影片區 -->
  <div class="container-fluid videoDiv">
    <img src="image/header-travel.jpg" class="headerImg w-100" alt="">
  </div>
  <!-- ## video 影片區 -->

  <!-- search 搜尋區  -->
  <!-- green background -->
  <div class="bgGreen">
    <!-- div - container-->
    <div class="container">
      <!-- 大標 -->
      <h2 class="titleHeader text-center pt-5 pb-3">
        選擇旅遊夥伴來一趟美好的難忘之旅吧!
      </h2>
      <!-- form 表單 -->
      <form action="" method="">
        <div class="form-row pb-3">

          <!-- Q1.尋找類型 State -->
          <div class="form-group col-md-3">
            <label for="inputState"></label>
            <select id="inputState" class="form-control">
              <option selected>想找什麼呢?</option>
              <option>找導遊</option>
              <option>找行程</option>
            </select>
          </div>
          <!-- ## Q1.尋找類型 State -->

          <!-- Q2.尋找區域 Area -->
          <div class="form-group col-md-3">
            <label for="inputArea"></label>
            <select id="inputArea" class="form-control">
              <option selected>想去的地方?</option>
              <option>北部</option>
              <option>中部</option>
              <option>南部</option>
              <option>花東</option>
              <option>外離島</option>
            </select>
          </div>
          <!-- ## Q2.尋找區域 Area -->

          <!-- Q3.搜尋關鍵字 -->
          <div class="form-group col-md-4 mb-3">
            <label for="inputKeyword"></label>
            <input type="text" class="form-control" id="inputKeyword" placeholder="請輸入關鍵字">
          </div>
          <!-- ## Q3.搜尋關鍵字 -->

          <!-- button submit -->
          <div class="form-group col-md-2 mb-3 mt-4">
            <label for="inputSearch"></label>
            <button type="submit" class="btn btn-warning" id="inputSearch">
              搜尋
              <img src="image/magnifying-glass.png" alt="">
            </button>
          </div>
          <!-- ## button submit -->

        </div>

      </form>
      <!-- ## form 表單 -->

    </div>
    <!-- ## div - container -->

    <!-- 黃色豎線 - 跳轉到近期新增的活動 -->
    <div class="line"></div>
    
  </div>
  <!-- ## green background -->
  <!-- ## search 搜尋區  -->

  
  <!-- 近期新增的活動 -->
  <div class="bgGray" id="a1">
    <!-- div - container -->
    <div class="container">

      <!-- 圖示 三角形 -->
      <div class="titleTriangle"></div>
     
        <!-- 新增活動 -->
        <!-- 大標 -->
        <div class="px-4">
          <h4 class="addActive">
            近期新增的活動 &nbsp;&nbsp; ——
          </h4>
            
            <!-- 新增 - 行程標題 -->
            <h5 class="addtrip mt-5 mb-4">
              觀光行程 :
            </h5>
              <!-- 新增 - 行程 card -->
              <div class="row row-cols-sm-1 row-cols-lg-3 row-cols-md-2" id="effects">
                <!-- card_1 -->
                <div class="col-lg-3 col-md-6 mb-3">
                  <!-- New -->
                  <div class="New">
                   <img class="img-fluid" src="image/new.png" alt="">
                  </div>
                  <a href="">
                    <div class="card text-dark">
                      <img src="image/unnamed.jpg" class="addTripImg" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">澎湖煙火節</h5>
                          <p class="card-text">地點 :</p>
                          <p class="card-text">類型 :</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">新增日期 : 2020/07/31</small>
                      </div>
                    </div>
                  </a>   
                </div>
                <!-- ## card_1 -->
              
                <!-- card_2 -->
                <div class="col-lg-6 col-md-6 mb-3">
                  <!-- New -->
                  <div class="New">
                   <img class="img-fluid" src="image/new1.png" alt="">
                  </div>
                  <a href="">
                    <div class="card text-dark">
                      <img src="image/Peng-hu.jpg" class="addTripImg" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a short card.</p>
                          <p class="card-text">This is a short card.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </a>   
                </div>
                <!-- ## card_2 -->
              
                <!-- card_3 -->
                <div class="col-lg-3 col-md-6 mb-3">
                  <!-- New -->
                  <div class="New">
                   <img class="img-fluid" src="image/new.png" alt="">
                  </div>
                  <a href="">
                    <div class="card text-dark">
                      <img src="image/老梅綠石槽景觀.jpg" class="addTripImg" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a short card.</p>
                          <p class="card-text">This is a short card.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                    </div>
                  </a>   
                </div>
                <!-- ## card_3 -->
              </div>
              <!-- ## 新增 - 行程 card -->
              
              <!-- three button -->
              <div class="threeBtn">
                <button class="btnGro selected"></button>
                <button class="btnGro"></button>
                <button class="btnGro"></button>
              </div>
              <!-- ## three button -->

          <!-- 新增 - 導遊標題 -->
          <h5 class="addtrip mb-4">
            導遊 :
          </h5>
          <!-- 新增 - 導遊 card -->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="effects">
              <!-- card_1 -->
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <!-- New -->
                <div class="New">
                 <img class="img-fluid" src="image/new.png" alt="">
                </div>
                <a href="">
                  <div class="card text-dark">
                    <img src="image/add_guide1.jpg" class="addGuideImg" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">導遊1號</h5>
                        <p class="card-text">我是帥帥導遊</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </a>   
              </div>
              <!-- ## card_1 -->

              <!-- card_2 -->
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <!-- New -->
                <div class="New">
                 <img class="img-fluid" src="image/new1.png" alt="">
                </div>
                <a href="">
                  <div class="card text-dark">
                    <img src="image/add_guide2.jpg" class="addGuideImg" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">導遊2號</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </a>   
              </div>
              <!-- ## card_2 -->

              <!-- card_3 -->
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <!-- New -->
                <div class="New">
                 <img class="img-fluid" src="image/new.png" alt="">
                </div>
                <a href="">
                  <div class="card text-dark">
                    <img src="image/add_guide3.jpg" class="addGuideImg" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">導遊3號</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </a>   
              </div>
              <!-- ## card_3 -->

            <!-- card_4 -->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <!-- New -->
              <div class="New">
               <img class="img-fluid" src="image/new1.png" alt="">
              </div>
              <a href="">
                <div class="card text-dark">
                  <img src="image/add_guide4.jpg" class="addGuideImg" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">導遊4號</h5>
                      <p class="card-text">This is a short card.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </a>   
            </div>
            <!-- ## card_4 -->
          </div>
          <!-- ## 新增 - 導遊 card -->

            <!-- three button -->
            <div class="threeBtn">
              <button class="btnGro selected"></button>
              <button class="btnGro"></button>
              <button class="btnGro"></button>
            </div>
            <!-- ## three button -->
          
        </div>
        <!-- ## 大標 -->
        <!-- ## 新增活動 -->

    </div>
    <!-- ## div - container-->

  </div>
  <!-- ## 近期新增的活動 -->
   
  
  <!-- 熱門導遊 -->
  <div class="container">

    <!-- 圖示 三角形 -->
    <div class="titleTriangle"></div>
   
      <!-- 大標 -->
      <div class="px-4">
        <!-- 外框 whiteLine -->
        <div class="whiteLine">
          
          <h4 class="addActive pt-3">
            熱門導遊 &nbsp;&nbsp; ——
          </h4>

            <!-- 熱門導遊 - image -->
            <div class="row row-cols-lg-3 row-cols-md-1 mt-4" id="effect">
              <!-- guide img_1 -->
              <div class="col-lg-4">
                <a href="">
                  <div class="bgImgYellow shadow-lg">
                    <img src="image/popular_guide1.jpg" class="guideImg rounded" alt="...">
                      <!-- card -->
                      <div class="yeGuideCard card border-warning mb-3">
                        <div class="card-header text-center">
                          <h5 class="popularGuide card-title">
                            導遊 - 1
                          </h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text text-dark">
                           地區:
                          </p>
                          <p class="card-text text-dark">
                           帶領活動類型:
                          </p>
                        </div>
                      </div>
                      <!-- ## card -->
                  </div>
                </a>
              </div>
              <!-- ## guide img_1 -->

              <!-- guide img_2 -->
              <div class="col-lg-4">
                <a href="">
                  <div class="bgImgYellow_2 shadow-lg">
                    <!-- card -->
                    <div class="yeGuideCard card border-warning">
                      <div class="card-header text-center">
                        <h5 class="popularGuide card-title">
                          導遊 - 2
                        </h5>
                      </div>
                      <div class="card-body">
                        <p class="card-text text-dark">
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                    <!-- ## card -->
                    <img src="image/popular_guide2.jpg" class="guideImg rounded" alt="...">
                  </div>
                </a>
              </div>
              <!-- ## guide img_2 -->

              <!-- guide img_3 -->
              <div class="col-lg-4">
                <a href="">
                  <div class="bgImgYellow shadow-lg">
                    <img src="image/popular_guide3.jpg" class="guideImg rounded" alt="...">
                     <!-- card -->
                     <div class="yeGuideCard card border-warning mb-3">
                      <div class="card-header text-center">
                        <h5 class="popularGuide card-title">
                          導遊 - 3
                        </h5>
                      </div>
                      <div class="card-body">
                        <p class="card-text text-dark">
                          Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                    <!-- ## card -->
                  </div>
                </a>
              </div>
              <!-- ## guide img_3 -->

            </div>
            <!-- ## 熱門導遊 - image -->

            <!-- button arrow -->
            <div class="arrowBtn">
              <button class="preArrow btn mt-5" role="button">
                <img src="image/pre.png" alt="" class="">
              </button>
              <button class="nextArrow btn mt-5" role="button">
                <img src="image/next.png" alt="" class="">
              </button>
            </div>
            <!-- ## button arrow -->

        </div>
        <!-- ## 外框 whiteLine -->
      </div>
      <!-- ## 大標 -->
     
  </div>
  <!-- ## 熱門導遊 -->


  <!-- bg - white 過場 -->
  <div class="bgWhite">
    <div class="titleContent container">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-8">
          <!-- header title -->
          <!-- left -->
          <p class="h1 bgWhiteText">
            為什麼選擇問導遊?
            <br>
            因為我們有愛
            <br>
          </p>
            <span class="smallText">
              —— when do you trip?
            </span>
        </div>
          <!-- right -->
          <div class="col-md-4">
            <img src="image/guide_g.png" alt="" class="bgWhiteImg">
          </div>
      </div>
    </div>
  </div>
  <!-- ## bg - white 過場 --> 


  <!-- 行程分類 -->
  <div class="container">

    <!-- 圖示 三角形 -->
    <div class="titleTriangle"></div>
   
      <!-- 大標 -->
      <div class="px-4">
        <h4 class="journey">
          行程分類 &nbsp;&nbsp; ——
        </h4>

          <!-- 圖片輪播區 -->
          <div id="loopBtn">
            <!-- 左右各兩邊的span -->
            <div class="myBtn">
              <span class="left" id="leftBtn"></span>
              <span class="right" id="rightBtn"></span>
            </div>
            <!-- ## 左右各兩邊的span -->
            
            <!-- image -->
            <ul class="imgUl">
              <!-- 第一張 -->
              <li class="no0">
                <a href="">
                  <img class="journeyImg img-fluid" src="image/food.jpg" alt="">
                    <h4 class="journeyText text-center">
                      美食饗宴
                    </h4>
                  </a>
              </li>
              <!-- 第二張 -->
              <li class="no1">
                <a href="">
                  <img class="journeyImg img-fluid" src="image/culture.jpg" alt="">
                  <h4 class="journeyText text-center">
                    風俗民情
                  </h4>
                </a>
              </li>
              <!-- 第三張 -->
              <li class="no2">
                <a href="">
                  <img class="journeyImg img-fluid" src="image/forst.jpeg" alt="">
                  <h4 class="journeyText text-center">
                    探索森林
                  </h4>
                </a>
              </li>
              <!-- 第四張 -->
              <li class="no3">
                <a href="">
                  <img class="journeyImg img-fluid" src="image/ocean.jpg" alt="">
                  <h4 class="journeyText text-center">
                    海洋之美
                  </h4>
                </a>
              </li>
              <!-- 第五張 -->
              <li class="no4">
                <a href="">
                  <img class="journeyImg img-fluid" src="image/history.jpg" alt="">
                  <h4 class="journeyText text-center">
                    古蹟巡禮
                  </h4>
                </a>
              </li>
            </ul>
            <!-- ## image -->
            
            <!-- button -->
            <div class="tipDot" id="tipDot">
              <ul>
                <li></li>
                <li></li>
                <li class="cur"></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <!-- ## button -->

          </div>
          <!-- ## 圖片輪播區 -->
          
      </div>
      <!-- ## 大標 -->
  </div>
  <!-- ## 行程分類 -->

 
  <!-- 尋找適合的導遊 -->
  <div class="bgGray" id="bgFitGuide">
    <div class="bgFitGuideImg">
      <img src="image/banner-image_07-2.png" alt="" style="overflow: hidden; width: 380px; ">
    </div>  
    <!-- div - container -->
    <div class="container">

      <!-- 圖示 三角形 -->
      <div class="titleTriangle"></div>
      <!-- 大標 -->
      <div class="px-4">
        <h4 class="addActive">
          尋找適合的導遊 &nbsp;&nbsp; ——  
        </h4>
          <p class="mt-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore …
          </p>

          <!-- clearfix ==> base.css 與 Bootstrap -->
          <div class="bgCircleArea clearfix mt-3 mb-4">
            <ul>
              <!-- fl ==> float:left common.css --> 
              <li class="fl">
                <button class="areaConnect selected">
                  北部
                </button>
              </li>
              <li class="fl"> &nbsp;&nbsp; /  &nbsp;&nbsp;</li>
              <li class="fl">
                <button class="areaConnect">
                  中部
                </button>
              </li>
              <li class="fl"> &nbsp;&nbsp; /  &nbsp;&nbsp;</li>
              <li class="fl">
                <button class="areaConnect">
                  南部
                </button>
              </li>
              <li class="fl"> &nbsp;&nbsp; /  &nbsp;&nbsp;</li>
              <li class="fl">
                <button class="areaConnect">
                  花東
                </button>
              </li>
              <li class="fl"> &nbsp;&nbsp; /  &nbsp;&nbsp;</li>
              <li class="fl">
                <button class="areaConnect">
                  外離島
                </button>
              </li>
            </ul>
          </div>

        <!--  導遊 card -->
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2">
          
          <!-- left -->
          <!-- <div class="col-md-3 mb-4"> -->
            <!-- 北部 card_1 -->
          <div class="col-md-3 mb-4" id="suitGuideHov">
              <a href="">
                <div class="suitGuide card">
                 <h4 class="areaGuide card-title text-light text-center">
                   北部 /
                  </h4>
                </div>
              </a>
          </div>
          <!-- ## 北部 card_1 -->
          <!-- </div> -->

          <!-- card_1 -->
          <div class="col-md-3 mb-4" id="suitGuideHov_1">
            <a href="">
              <div class="card text-dark">
                <img src="image/north_guide.jpg" class="suitGuideImg" alt="...">
                <div class="card-body">
                  <h5 class="card-title">導遊1號</h5>
                  <p class="card-text">語言:</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Hi~大家好,我是美女導遊</p>
                </div>
              </div>
            </a> 
          </div>
          <!-- ## card_1 -->  

          <!-- card_2 -->
          <div class="col-md-3 mb-4" id="suitGuideHov_1">
            <a href="">
              <div class="card text-dark">
                <img src="image/north_guide3.jpg" class="suitGuideImg" alt="...">
                <div class="card-body">
                  <h5 class="card-title">導遊2號</h5>
                  <p class="card-text">語言:</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">很高興為大家服務!</p>
                </div>
              </div>
            </a> 
          </div>
          <!-- ## card_2 -->

          <!-- card_3 -->
          <div class="col-md-3 mb-4" id="suitGuideHov_1">
            <a href="">
              <div class="card text-dark">
                <img src="image/South_guide.jpg" class="suitGuideImg" alt="...">
                <div class="card-body">
                  <h5 class="card-title">導遊3號</h5>
                  <p class="card-text">語言:</p>
                </div>
                <div class="card-footer">
                  <p class="text-muted">Nice to meet you~</p>
                </div>
              </div>
            </a> 
          </div>
          <!-- ## card_4 -->

        </div>
        <!-- ## 導遊 card -->

        <!-- button arrow -->
        <div class="arrowBtn py-5" id="selGuideBtn">
          <button class="preArrow btn mt-1" role="button">
            <img src="image/pre.png" alt="" class="">
          </button>
          <button class="nextArrow btn mt-1" role="button">
            <img src="image/next.png" alt="" class="">
          </button>
        </div>
        <!-- ## button arrow -->
      
      </div>
      <!-- ## 大標 -->
    
    </div>
    <!-- ## container -->
    
  </div>
  <!-- ## 尋找適合的導遊 -->


  <!-- contact -->
  
   
    <!-- div - container -->
    <div class="titleContent container">
  
        
        <!-- 大標 -->
        <div class="row row-cols-1 row-cols-md-2 px-4">
          <div class="col-md-6">
            <h4 class="addActive">
              聯絡我們 &nbsp;&nbsp; ——
            </h4>
              <p class="mt-3 mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore …
              </p>
                <!-- Form -->
                <form action="" method="">
                  <div class="form-group">
                    <label for="InputName">你的大名 :</label>
                      <input type="text" class="form-control" id="InputName" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="InputTel">聯絡電話 :</label>
                    <input type="tel" class="form-control" id="InputTel" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="InputEmail">聯絡信箱 :</label>
                    <input type="email" class="form-control" id="InputEmail" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="Textarea">訊息內容 :</label>
                    <textarea class="form-control" id="Textarea" rows="4" placeholder="請說明你的問題..."></textarea>
                  </div>
                </form>
                <!-- ## Form -->
          </div>
          <!-- map -->
          <div class="col-md-6 mt-5">
            <div class="map_bg rounded ">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.604432042262!2d120.64881961412208!3d24.150526184393602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693d9650422ae1%3A0x334dfd5796c49ff6!2z6LOH562W5pyDLeaVuOS9jeaVmeiCsueglOeptuaJgC3kuK3ljYDoqJPnt7TkuK3lv4M!5e0!3m2!1szh-TW!2stw!4v1595998978164!5m2!1szh-TW!2stw" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
              </iframe>
            </div>
          </div>
          <!-- ## map -->
  
          
        
        </div>
        <!-- ## 大標 -->
      
    </div>
    <!-- ## container -->
      
   
  
  <!-- ## contact -->
  
  
 


  <!-- footer 頁尾區  -->
  <!-- <div class="container-fluid" id="footer">
    <div class="container py-5 footer_1">

      <div class="d-inline-flex flex-column pr-5">
        <a class="mb-4 afot_connect" href="">最新消息</a>
        <a class="afot_connect" href="">關於我們</a>
      </div> -->

      <!-- 區隔線段 左 -->
      <!-- <div class="d-inline-flex flex-column pr-5">
        <div class="interval text-white "></div>
      </div>

      <div class="d-inline-flex flex-column pr-5">
        <a class="mb-4 afot_connect" href="">導遊評價</a>
        <a class="afot_connect" href="">旅遊心得</a>
      </div> -->

      <!-- 區隔線段 右 -->
      <!-- <div class="d-inline-flex flex-column pr-5">
        <div class="interval text-white"></div>
      </div>

      <div class="d-inline-flex flex-column">
        <a class="mb-4 afot_connect" href="">常見問答</a>
        <a class="afot_connect" href="">活動頁面</a>
      </div>

    </div>
  </div> -->
  <!-- ## footer 頁尾區  -->

  <!-- footer start -->
  <div class="footer">
    <div class="links">
      <dl>
        <dt>認識問導遊</dt>
          <dd><a href="#">關於我們</a></dd>
          <dd><a href="#">管理團隊</a></dd>
          <dd><a href="#">人才招募</a></dd>
          <dd><a href="#">客戶服務</a></dd>
          <dd><a href="#">幫助</a></dd>
      </dl>
      <dl>
        <dt>給旅人</dt>
          <dd><a href="#">三大保證</a></dd>
          <dd><a href="#">官方部落格</a></dd>
          <dd><a href="#">會員好禮</a></dd>
      </dl>
      <dl>
        <dt>合作夥伴</dt>
          <dd><a href="#">合作夥伴</a></dd>
          <dd><a href="#">成為導遊</a></dd>
          <dd><a href="#">同業合作</a></dd>
          <dd><a href="#">聯盟行銷</a></dd>
          <dd><a href="#">旅遊客製規劃</a></dd>
      </dl>
    </div>
  </div>
  <!-- footer end -->


  <!-- 直立(豎立)的 navbar 做法2 -->
  <!-- <nav class="navbar text-white">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>
  </nav> -->

  <script>
 
  </script>

</body>

</html>