.de_container {
    overflow: hidden;
}

.preview {
    position: relative;
    overflow: hidden;
    width: 740px;
    height: 370px;
    margin: 150px auto;
    border-radius: 10px;
}

.preview_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 370px;
    height: 370px;
}

.preview_img img {
    width: 370px;
    height: 370px;
}

.preview_de {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 370px;
    height: 370px;
    background-color: #00257D;
}

.preview_de h3 {
    margin-top: 15px;
    margin-left: 30px;
    color: #fff;
    font-size: 35px;
}

.preview_de ul {
    margin-top: 40px;
    margin-left: 30px;
    color: #ffffff;
    font-size: 20px;
}

.decorate {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0px 0px;
    background-color: #FF5624;
    z-index: 2;
}

.review {
    height: 270px;
    margin-top: -100px;
}

.tab_list {
    margin-left: 55px;
    height: 50px;
}

.tab_list li {
    float: left;
    background-color: #ffffff;
    height: 50px;
    width: 170px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
}

.tab_list .current {
    background-color: #00257D;
    color: #ffffff;
}

.first_tab {
    width: 104px;
}

.second_tab {
    width: 103px;
}

.tab_con {
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    width: 1000px;
    height: 220px;
    background-color: #00257D;
    border-radius: 0px 10px 10px 10px;
}

.introduce {
    color: #fff;
    margin: 20px 20px 0px;
    font-size: 15px;
}

.tab_box {
    overflow: hidden;
    height: 180px;
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
}

.rate_box {
    height: 110px;
    width: 110px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #FFD042;
    text-align: center;
}

.rate_num {
    height: 110px;
    line-height: 110px;
    font-size: 50px;
    color: #fff;
}

.rate_star {
    margin-top: 20px;
    margin-left: 40px;
}

.rate_star li {
    font-family: 'icomoon';
    font-weight: 700;
}

.rate_star span {
    font-size: 10px;
}

.rate_star .no1 span {
    padding-right: 3px;
}

.bar {
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 13px;
    border: 1px solid #d6d6d6;
    background-color: #ccc;
    vertical-align: middle;
    margin: 0px 5px;
    border-radius: 10px;
}

.bar_in {
    width: 87%;
    height: 13px;
    background-color: #FFD042;
}

.tab_com {
    position: absolute;
    top: 20px;
    left: 500px;
    color: #fff;
}

.schedule {
    width: 900px;
    margin: 70px auto 0px;
}

.sc_title {
    width: 900px;
    height: 50px;
    border-bottom: 3px solid #00257D;
}

.sc_title li {
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #00257D;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.sc_con {
    width: 900px;
    height: 140px;
    border-bottom: 1px solid #cccccc;
}

.sc_con li {
    float: left;
    width: 150px;
    height: 124px;
    text-align: center;
    margin-left: 10px;
}

.sc_con img {
    height: 100px;
    width: 80px px;
}

.sc_con em {
    display: inline-block;
    width: 120px;
}

.sc_con span {
    display: inline-block;
    width: 120px;
    height: 124px;
    line-height: 124px;
}

.sc_con p {
    width: 150px;
    height: 124px;
    overflow: hidden;
}

.sc_con button {
    width: 80px;
    height: 35px;
    outline: none;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #00257D;
    background-color: #00257D;
    color: #fff;
}